@import"reset nova.css";
@import"nova.css";
body{
background:#000ddd;
margin:1%;
border:1%;
padding:auto;
}
menu{
background:#DDDD00;
border:1px;
}
menu.topnav{
  overflow: hidden;
  background-color: #9DD000;
}
/* Style the topnav links */
menu.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/* Change color on hover */
menu.topnav a:hover {
  background-color: #FFFFFF;
  color: #000000;
}
article{
background-color:#FFFFFF;
float:center;
position:top;
margin:0%;
border:0%;
padding:2%;
font:#000000,justify,center;
}
is-superselector("div", "div.nova")
Result:true
is-superselector("div.nova", "div")
Result:false
is-superselector("div", "div")
Result:true
}
aside:div.nova{
background-color:#FFFFFF;
float:center;
display:table-row;
position:horizontal;
margin:10%;
border:1%;
padding:30%;
font:#000000 justify center;
}
h3{
float:center;
position:top;
font:#000000 justify center;
}
.nova figure{
background-color:#DDDFFD;
display:inline-block;
position:middle;
margin:4%;
border:4%;
padding:auto;
}
.nova figure img{
background-color:#6495ED;
margin:1%;
border:1%;
padding:auto;
width:200px;
height:350px;
position:middle;
display:inline-block;
image-orientation:vertical
}
.nova figure img figcaption{
background-color:#F0FFFF;
margin:1%;
border:1%;
padding:auto;
display:inline-block;
width:200px;
height:20px;
font-size:14px,color:#000000;
}